import(GIGrvg)
import(GWmodel)
import(MCMCpack)
import(cols4all)
import(cowplot)
import(ggplot2)
import(grid)
import(gridExtra)
import(mgcv)
import(mvtnorm)
import(rnaturalearth)
import(rnaturalearthdata)
import(sf)
import(sp)
import(spdep)
import(splines)
import(viridis)
export(beta_mse)
export(betas_bsgl)
export(betas_gs)
export(calc_cluster_beta)
export(calc_f1_beta)
export(calc_mse)
export(calc_scp)
export(calc_scp_bsgl)
export(calc_scp_gs)
export(calc_true_beta)
export(combine_chains)
export(compute_rhat)
export(compute_rhat_single)
export(cv_bsgl)
export(eval_bsgl)
export(eval_gs)
export(fit_bsgl)
export(fit_bsgl_multichain)
export(fit_final_bsgl)
export(fit_gam)
export(fit_gs)
export(fit_mgwr)
export(gen_data)
export(gen_rep)
export(get_gam_betas)
export(get_mgwr_betas)
export(load_data)
export(load_data_cluster)
export(make_basis)
export(plot_beta)
export(plot_coefficient_maps)
export(plot_observed_evi)
export(plot_observed_vs_predicted)
export(pred_bsgl)
export(pred_gam)
export(pred_gs)
export(pred_mgwr)
export(prepare_geographic_features)
export(prop_maps)
export(save_incl0_maps)
export(sum_bsgl)
export(sum_gs)
export(tensor.prod.model.matrix)
